@font-face {
    font-family: gunmetl;
    src: url("gunmetl.ttf") format("truetype");
}  

.flash {
	color: #ffffff;
	font-weight: bold;
}  

header {
	width: 100%;
	height: 100px;
	background-color: #000000;
}

.bg {
    height: auto;
    width: auto;
	background: #000000 url(images/background_image.jpg) no-repeat;
	background-size: cover;
}

h1 {
	font-family: gunmetl;
	color: #cccccc; 
	font-size: 70px;
	margin: 0;
	padding-left: 20px;
	text-shadow:0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
}

.title  {
	padding-top: 10px;
}

.title-inner  {
	padding-bottom: 10px;
}

.btn {
	text-align: center;
	background: url('images/50_aluminium radial brushed metal texture.jpg');
	background-size: cover;
	color: black;
	font-weight: bold;
	margin: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.lgn-btn {
	float: right;
	text-align: center;
	background: url('images/50_aluminium radial brushed metal texture.jpg');
	background-size: cover;
	color: black;
	font-weight: bold;
	margin: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover, .lgn-btn:hover {
	text-align: center;
	background: url('images/55_gold brass radial brushed metal texture.jpg');
	background-size: cover;
	color: white;
	font-weight: bold;
	margin: 20px;
}

.signinButton, .g-signin {
	border: 100%;
	text-align: center;
}

aside {
	float: left;
	width: 150px;
	height: 100%;
	background: url('images/50_aluminium radial brushed metal texture.jpg');
	background-size: cover;
	border: 5px solid #000000;
	border-radius: 20px;
	padding: 10px 5px 30px 5px;

} 

.basemetal {
	height: 20px;
	font-size: 25px;
	color: #000000;
	font-family: gunmetl;
	text-align: center;
	margin: auto;
	text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
}

.basemetal:hover {
	height: 20px;
	font-size: 25px;
	color: #ffffff;
	font-family: gunmetl;
	text-align: center;
	margin: auto;
	text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd;

}

.metal-text {
	height: 10px;
	margin: 30px 0 15px 0; 
}

.edit-link, .delete-link {
	text-align: center;
	color: #a30f2d;
	height: 20px;
	width: 70px;
	display: inline-block;
	margin: auto;	
}

.entry {
	float: center;
	width: 300px;
	height: auto;
	background: url('images/50_aluminium radial brushed metal texture.jpg');
	background-size: cover;
	border: 5px solid #000000;
	border-radius: 20px;
	padding: 30px;
	margin: 30px;
}

.nbm-text {
	height: 35px;
	font-size: 50px;
	color: #000000;
	font-family: gunmetl;
	float: left;
	margin: 40px 40px 40px 25px;
	text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd;
}

.nbm-input {
	margin: 20px;
	width: 250px;
}

.a-description {
	
	width: 500px;
	height: 500px;
	background: url('images/50_aluminium radial brushed metal texture.jpg');
	background-size: cover;
	border: 5px solid #000000;
	border-radius: 20px;
	padding: 30px;
	margin: 30px;
}

.a-text {
	color: #000000;
	font-family: sans-serif;
	text-align: left;
	margin: 40px;
	text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd;
}