<!DOCTYPE html>
<html class = 'bg'>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<title>Alloy</title>
</head>

<header>
	<div class = 'title'>
		<div class = 'title-inner'>
			<h1>Alloy Derived From {{basemetal.name}}</h1>
			<hr>
		</div>
	</div>	
</header>

<div>
	<a href="{{url_for('showBaseMetals')}}">
		<button class="btn" id="back-to-basemetals">
			<span class="span" aria-hidden="true"></span>Back to Basemetals
		</button>
	</a>
</div>

<body>

	<div class = 'flash'>
	
	{% with messages = get_flashed_messages() %}
    	{% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>

    <div class = 'a-description'
		</div>
			{% for a in alloy %}
				<div class="a-text">
					<h3>{{a.name}}</h3>
					<p><strong>Description: </strong>{{a.description}}</p>
					<a href='{{url_for('showLogin') }}'>Edit</a> | 
					<a href='{{url_for('showLogin') }}'>Delete</a>
				</div>
			{% endfor %}
		</div>
	</div>			
</body>
</html>