<!doctype html>
<html lang="en">
  
  <head>

    <title>Delorean Quiz</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Nicholas_Purington_Portfolio_Site_Styles.css">
    <link rel="shortcut icon" type="image/png" href="Images/NicksSiteFavicon.ico"/>

  </head>
    
  <body>
    <div>
      <iframe src="https://trinket.io/embed/python/fe0387c34a?toggleCode=true&runOption=run&start=result" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
    </div>

    <div>
      <br>
      <h1><p class="link_text"><a href="https://www.nickpurington.com">Back to Main Portfolio</a></p></h1>
    </div>

  </body>
</html>
