<!doctype html>
<html lang="en">
  
  <head>

    <title>1966 Mustang Ebay Sales Report</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="nick purington, nicholas purington, nickpurington, nickpurington.com, web developer, web development, web application, software development, software developer, front end, UI, UX, user interface, user experience, California, Penn Valley, Auburn, Sacramento, Udacity Alumni, Denver, Colorado, DevOps, integration, database developer, automation, Wolf Den Development, professional, sql, c#, Microsoft, azure, sql server, data analyst, business analyst, Integration Engineer, Platform Engineer, Site Reliability Engineer" />

    <META NAME="Description" CONTENT="DevOps Engineer, Nick Purington's portfolio of personal and professional development projects" />
    <META NAME="Author" CONTENT="Nicholas Purington, Nick Purington" />
    <link rel="stylesheet" href="reportPage.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148460438-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-148460438-1');
</script>

  </head>
    
  <body>

    <header class="header">

      <div class="header_inner">
        <a href="mailto:nick@nickpurington.com"><img src="../../Images/retro_computer.png" class="header_logo" alt="Logo"></a>
      </div>
      <h1 class="header_title">
        Nicholas Purington
      </h1>
      <h3 class="header_sub_title">
        DevOps Engineer
      </h3>

    </header>
    
    <hr>

    <main class="main_content">
      
      <img src="../../Images/66_Mustang_Sales_Data.jpg">
   
    </main>

    <p class="footer_text">This project consists of sending an HTTP request to the Ebay API and returning pertinent data about the 1966 Ford Mustangs sold on Ebay.  I'm using an Azure Logic Apps to send the HTTP request and parse the response, and an Azure SQL Server database to store the result data.  The Logic Apps runs on a weekly recurrence @ 7pm PST. <br>
<br>
The analytics report was created in Microsoft Power BI and is updated with the latest data when the Logic Apps runs each week.  
</p>

    <h3 class="footer_title"><a href="http://nickpurington.com">Back to Main Portfolio</a></h3> 

  </body>

</html>
